
*{
    margin: 0;
    padding: 0;
}
/* Navegador superior ocupando a largura inteira da pagina */
.sup_nav {
    width: 100%;
    padding: 14px 16px;

    background-color: lightgray;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  /* botões tridimensionais */
.sup_nav button {
    margin: 5px;
    padding: 14px 16px;
    cursor: pointer;
    background-color: white;

    border: none;
    border-radius: 8px;
    box-shadow: 3px 7px 5px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    
    transition: transform 400ms, box-shadow 400ms;
}
/* ativação do botão do navegador superior */
.sup_nav button:active{
    transform: translate(0px,6px);
    box-shadow: 2px 3px 1px;
}

  /* hover dos botões do navegador superior ao passar o mouse em cima */
.sup_nav button:hover {
    background-color: lightgray;
    color: black;
}
  /* Dropdown do navegador superior*/
.sup_nav .dropdown {
    position: relative;
    display: inline-block;
}
  /* Configurações do conteúdo do dropdown */
.sup_nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: grey;
    color: white;
    min-width: 100px;
    z-index: 1;
}
  /* Configurações dos links de dentro do dropdown */
.sup_nav .dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  /* Dropdown do botão do meio */
.sup_nav .dropdown-meio:active .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: right;
}
/* Container da barra lateral */
.container {
    display: flex;
}
/* Barra lateral */
.sidebar{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    padding: 14px 16px;
    width: 20vw;
    height: 1200px;
}
/* botões da barra lateral */
.sidebar button{
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
/* Hover dos botões da barra lateral */
.sidebar button:hover{
    background-color: grey;
    color: white;
}
/* espaçamento do content */
.content{
    padding: 20px;

    width: 80vh;
    height: 1200px;
}
/* espaçamento do conteúdo dentro do content */
.content .conteudo{
    padding: 20px;
}
/* espaçamento do section */
.sessao{
    margin: 10px;
    padding: 10px;
}
/* espaçamento do texto */
.texto{
    padding: 30px 0px;
}

/* Loading */
.loading{
    width: 500px; 
    /*Largura do loading correlacionada com a altura de 500 pixels*/
    height: 500px;
    /*Altura do loading correlacionada com a largura de 500 pixels*/
    border: 50px solid black;
    /*Borda sólida da cor preta de 50 pixels*/
    border-bottom-color: gray;
    /*A cor da parte de baixo da borda do círculo sendo cinza*/
    border-radius: 50%;
    /*Border radius de 50%, transformando o quadrado em um círculo*/
    display: inline-block;
    /*display inline-block para evitar que o texto interno se estenda além do seu pai.*/
    box-sizing: border-box;
    /*border-box indicando que o tamanho agora levará em conta até uma borda, o width será a soma do conteúdo com a borda e o padding*/
    animation: rotation 1s linear infinite;
    /* Rotação de 1 segundo linear infinita*/
    
}
/*Rotação do Loader*/
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
/*Responsividade do site*/
@media screen and (max-width:600px){
    .container{
        flex-direction: column;
        
    }
    .sidebar{
        width: 100%;
        height: fit-content;
    }

    .content{
        width: 100%;
    }
    .loading{
        width: 250px;
        height: 250px;
        border: 25px solid black;
        border-bottom-color: grey;
    }
}